body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
   
}
.half-width{
    width: 50%;
    padding: 20px;
}
.half-width img{
    width: 80%;
}
.link-class{
    color: black;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(red,yellow);
}
.top-banner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}