body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flexible-containar{
    display: flex;
   margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding: 20px;
}
.half-width img{
    width: 80%;
}
.link-class{
    color: black;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(red,yellow);
}
.top-banner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    width: 70%;
    box-shadow: 10px 10px 10px darkslategray;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px 20px;
    border-radius: 5px;
}
.experience-area{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat ;
    background-position: left;
}
#full-stack{
    border-left: 6px solid;
    border-image:  linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#web-dev{
    border-left: 6px solid;
    border-image: linear-gradient(tomato,orange);
    border-image-slice: 1;
}
footer p{
    
    color: white;
    text-align: center;
    background-color: black;
    
}
